[Unit]
Description=Runs start-mode-switcher-listener script

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=start-mode-switcher-listener
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
