[Unit]
Description=Listens to GPIO 3
After=multi-user.target

[Service]
Type=simple
ExecStart=listen-gpio3
Restart=always

[Install]
WantedBy=multi-user.target

