[Unit]
Description=Listens to pluto/power topic on plutos's mosquito MQTT broker

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=start-power-management-listener
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

